<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Dátum</th>
			<th>Príchod</th>
			<th>Odchod</th>
			<th>Fond</th>
			<th>Čas v práci</th>
			<th>Nadriadený</th>
		</tr>
		<tr>
			<td><input type="text" ng-model="search.date"></td>
			<td><input type="text" ng-model="search.arrival"></td>
			<td><input type="text" ng-model="search.departure"></td>
			<td><input type="text" ng-model="search.fond"></td>
			<td><input type="text" ng-model="search.timeAtWork"></td>
			<td><input type="text" ng-model="search.supervisorName"></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="day in userInfo.attendance | filter : search track by $index">
			<td ng-bind="day.date"></td>
			<td><input type="text" ng-model="day.arrival" ng-model-options="{ updateOn: 'blur' }" ng-change="updateTime()" /></td>
			<td><input type="text" ng-model="day.departure" ng-model-options="{ updateOn: 'blur' }" ng-change="updateTime()" /></td>
			<td ng-bind="day.fond"></td>
			<td><span class="glyphicon glyphicon-time" ng-class="day.timeAtWorkFlag" ng-if="day.timeAtWorkFlag"></span> <span ng-bind="day.timeAtWork"></span></td>
			<td><a href ng-click="setUser(day.supervisorId)" ng-bind="day.supervisorName"></a></td>
		</tr>
	</tbody>
</table>